<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset=utf-8>
  <meta name="description" content="{{ "brand.info"|trans }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <title>{% block title %}{{ "brand.name"|trans }}{% endblock %}</title>
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🎶️</text></svg>">

  {% block preconnect %}{% endblock %}

  {% block stylesheets %}
    {{ ux_controller_link_tags() }}
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}" />
  {% endblock %}

  {% block javascripts %}
    {{ importmap() }}
  {% endblock %}
</head>

<body id="{% block id %}base{% endblock %}">

<nav>
  {# Put navigation here #}
</nav>

<section>
  {% block body %}{% endblock %}
</section>

<footer>
  <h5>{{ "brand.html"|trans|raw }}</h5>

  <div>
    <div>
      <a href="https://ph-il.ca" target="_blank">{{ "brand.info"|trans }}</a>
      <br />
      Symfony™ is a trademark of <a target="_blank" href="https://symfony.com/license">Symfony SAS</a>.
    </div>

    <div>
      <a href="https://github.com/parler-haut-interagir-librement/MicroSymfony" target="_blank"><img alt="GitHub" height="25px" width="25px"
                                                                                 src="{{ asset('img/github.svg') }}"></a>
    </div>
  </div>
</footer>

</body>
</html>
